# Node modules and package files
node_modules/
package-lock.json
*.tgz

# npm and cache files
.npm
.eslintcache

# Editor and system files
.vs/
.DS_Store

# Log files
bot.log

# Configuration files
config.json

# Backup files
backups/

# JSON data files
json/words.json
json/disallowed.json

# Asset and image files
assets/combined.png
assets/meme.png
assets/meme_templates/*
views/images/image.png

# Hidden temp files
._*