extends layout

block content
    <link rel="stylesheet" href="/CSS/chat.css">
    <ul id="messages"></ul>
    <form action="">
        <input id="m" autocomplete="off" /><button class="btn btn-primary">Send</button>
    </form>
