extends layout

block content
    <br/>
    <div id="pageDiv" class="jumbotron">
        <h3>Botje homepage</h3>
        <ul>
            <li><h5><a href='/farms'>Farm</a></h6></li>
            <li><h5><a href='/draw'>Drawboard</a></h6></li>
            <li><h5><a href='/log'>Log</a></h6></li>
        </ul>
    </div>