extends layout

block content
    <br/>
    <div id="pageDiv" class="jumbotron">
        <h3>Botje homepage</h3>
        <ul>
            <li><h5><a href='/draw'>Drawboard</a></h5></li>
            <li><h5><a href='/log'>Log</a></h5></li>
            <li><h5><a href='/interact'>Interact</a></h5></li>
            <li><h5><a href='/terminal'>Terminal</a></h5></li>
        </ul>
    </div>