extends layout

block content
    <script src="/js/interact.js"></script>
    <br/>
    div(id='interactForm')
        select(name='dropDown', class="interact-select", id='channelSelect')
            each val in channels
                option(value=val.id) #{val.name}

        select(name='dropDown', class="interact-select", id='userSelect')
            each val in users
                option(value=val.user_id) #{val.user_name}

        input(id="textToSend", class="interact-text")

        button(id="send", class="interact=button", onclick="sendMessage()") send