extends layout

block content
    link(rel="stylesheet" href="/css/terminal.css" type="text/css")
    script(src="/js/terminal.js")

    div(class='terminal')
        ul(class='terminal-list' id='terminal-list')
            each val in list.length ? list : []
                li(class='terminal-line') #{val}
        input(type="text", name="input" class='terminal-input' id='terminal-input')
