body {
    background-color: lightslategrey;
    margin: 0;

    font-family: Arial, sans-serif;
}

.main-navbar {
    background-color: #343a40;
    display: flex;
    width: 100%;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.navbar-icon {
    padding: 0.3rem;
}

.navbar-icon img {
    border-radius: 50%;
    border: 3px groove darkslategray;
}

.nav-menu {
    display: flex;
}

.nav-menu .nav-item {
    padding: 0.5rem;
    list-style-type: none;
    border: 2px solid rgb(113, 160, 160);
    border-radius: 8px;
    background-color: rgb(155, 155, 155);
    height: 40%;

    margin-top: auto;
    margin-bottom: -0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-menu .nav-item:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;

    transition: background-color 0.3s;

    border: 2px solid rgb(43, 185, 185);
}

.nav-menu .nav-item a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.nav-menu .nav-item a:hover {
    color: rgb(0, 0, 0);
}

.main-content {
    /* rest of the content */
    height: 100%;
}