body {
    background-color: lightslategrey;
}

.icon img {
    border-radius: 50%;
    border: 3px groove darkslategray;
}

#farms {
    border-collapse: separate;
    border-radius: 6px;
    border: 3px groove darkslategray;
    background-color: whitesmoke;
}

#pageDiv {
    padding: 2rem 1rem !important;
}

.container-full {
    margin: 0 auto;
    width: 95%;
}

.drawboard {
    border: 3px groove darkslategray;
}

.drawboard-header {
    background-color: lightgray;
    vertical-align: bottom;
    line-height: 5px;
}

.pixel {
    padding: 0;
    width: 5px;
    height: 5px;
}