html
	head
		title Botje Homepage
		link(rel="icon" href="./images/robotcorgihead.png")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css")
		script(src="/socket.io/socket.io.js")
		link(rel="stylesheet" href="/css/layout.css" type="text/css")

	body
		nav.main-navbar
			a.navbar-icon(href="/")
				img(src="./images/robotcorgihead.png" width="50" height="50" alt="")
			ul.nav-menu
				if featureFlags.enableDraw
					li.nav-item
						a.nav-link(href="/draw") Drawboard
				if featureFlags.enableTerminal
					li.nav-item
						a.nav-link(href="/terminal") Terminal
				if featureFlags.enableWebhooks
					li.nav-item
						a.nav-link(href="/webhooks") Webhooks

		.main-content
				block content
