extends layout

block content
    script(src="/js/log.js")

    br
    select(name='dropDown' class="custom-select" id='levelSelect')
        each val in ['none','debug', 'info', 'warn', 'error', 'console', 'admin']
            option(onclick="selectLevel()")=val

    table(class='table table-striped' id='log')
        thead(class='thead-dark')
            th(scope='col' class='level') Level
            th(scope='col' class='message') Message
            th(scope='col' class='timestamp') Timestamp
        each val in list.length ? list : [{'message': 'Cant find any log'}]
            tr
                td= val.level
                td= val.message
                td= val.timestamp