extends layout

block content
    script(src="/js/webhooks.js")
    link(rel="stylesheet" href="/css/webhooks.css" type="text/css")

    div#webhooks_form
        select.webhooks_select(name='drop_down' id='guild_select')
            each guild in guilds
                option(value=guild.id) #{guild.name}

        select.webhooks_select(name='drop_down' id='channel_select')
            option(value='') Select a channel

        select.webhooks_select(name='drop_down' id='user_select')
            option(value='') Select a user

        input#text_to_send.webhooks_text

        button#send_button.webhooks_button Use webhook

        p#webhook_response
